.navbar {
    background-color: #222;
    ul{
        li{
            a{
                color:#fff;
                &.active{
                    background-color: red;
                }
            }
        }
    }
}